body {
    user-select: none;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    width: 100%;
    height: 100vh;
}


.navbar {
    background: #fff;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    margin: auto;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #c30f1a;
}

.search-box input {
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 260px;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #007bff;
}

.nav-links .red {
    color: #ff3333;
    font-weight: bold;
}

.title-section {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-section h2 {
    font-size: 28px;
}

.full-list-btn {
    padding: 8px 16px;
    border: none;
    background: #1e90ff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.box {
     display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.students-grid {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover img {
    transform: scale(1.07);
}

.card h3 {
    margin: 10px 0 5px;
    font-size: 17px;
}

.card p {
    color: #666;
    font-size: 14px;
}

.stars {
    margin-top: 8px;
    font-size: 18px;
    color: #ffbb00;
    transition: 0.3s;
}

.card:hover .stars {
    transform: scale(1.2) rotate(3deg);
    text-shadow: 0 0 10px #ffd000;
}
